.dark {
    background: #121111;
    height: 70px;
}

.reset{
    background: #722929;
}

.dark-text {
    color: aliceblue;
    height: 70px;
}

.red {
    background: #f10303;
    height: 70px;
}

.red-text {
    color: aqua;
    height: 70px;
}

.some {
    background: #ceab2f;
    height: 70px;
}

.some-text {
    color: darkslateblue;
    height: 70px;
}
.h2{
    margin-left: 550px;
}
.radio{
    margin-left: 485px;
}
.input_wrapper{
    border: 2px solid steelblue;
    width: 40px;
    margin-left: 600px;
    border-radius: 5px;
}
.input{
    height: 50px;
    width: 30px;
}
.h_wrapper{
    width: 180px;
    margin-left: 530px;
    color: rgba(2, 25, 42, 0.68);
    border: 2px solid black;
    border-radius: 5px;
}