.blue {
    border-bottom: 5px solid blue;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testSpanError {
    color: blue;
}
.wrapper {
    background-color: lightseagreen;
    margin-left: 50px;
    width: 300px;
    height: 240px;
}
